@import "requirements.css";


header {
    background-color: var(--heder-bg-color);
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}

.navigation {
    display: flex;
}

.navigation > a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 3px 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.navigation > a {
    margin: 0 30px;
}

.navigation > a:hover {
    color: #fff;
    background-color: #41484e;
}

/* end header */

/* start acount icon */

.compte img {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    cursor: pointer;
}

.compte-info {
    visibility: hidden;
    list-style: none;
    background-color: white;
    position: absolute;
    margin-left: -200px;
    border-radius: 5px;
    align-items: center;
    padding: 10px auto;
    justify-content: center;
    box-shadow: 0 5px 20px rgba(1, 1, 1, 20%);
    width: 250px;
}

.compte-info li {
    align-items: center;
    margin: 20px;
}

.compte-info hr {
    margin: auto 20px;
}

.photo-mail div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.photo-mail img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.icons div {
    display: flex;
    align-items: center;
}

.icons span a {
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(83, 83, 83);
    text-decoration: none;
    font-size: 0.9rem;
}

.icons span a:hover {
    color: black;
}

.compte:hover .compte-info {
    visibility: visible;
}


.connexion {
    color: white;
    border: white 1px solid;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 14px;
}