.section {
    padding: 30px 10%;
    width: 100%;
    min-height: 100vh;
}

.container-image {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.container-image .image-title {
    color: #010F2A;
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.container-image > p {
    margin-bottom: 30px;
}

.image-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-image img {
    width: 100%;
    height: 400px;
}

.image-description {
    margin: 30px 0;
}

.image-description h2 {
    margin-bottom: 20px;
    color: #010F2A;
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.grey {
    color: #333;
}