@import "requirements.css";

/**/

body {
    background: linear-gradient(rgba(0, 152, 190, 0.253) , #fff);
}

.main-section {
    padding: 0 5%;
    min-height: 100vh;
    width: 100%;
}

.level-title {
    font-weight: 600;
    font-size: 1.8em;
    display: inline-block;
    border-radius: 4px;
    color: #555;
    text-shadow: 0px 1px 10px rgb(255 255 255 / 70%);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.quizzes {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.quiz {
    height: 150px;
    width: 180px;
    background-color: #fff;
    margin-right: 60px;
    margin-bottom: 30px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 5%);
    border: solid 1px rgb(29, 29, 29);
    text-align: center;
    border-radius: 5px;
    transition: 0.2ms;
}

.quiz:hover {
    transform: scale(1.04);
}

.quiz a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    text-align: center;
}

.quiz div {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: rgb(29, 29, 29) solid 1px;
}

.quiz p {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz .result {
    color: grey;
    font-size: 15px;
    font-weight: 400;
}