

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    padding: 20px 30px;
}

.center h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 500;
}

.center .txt {
    margin: 15px 0;
    width: 100%;
}

.center .input {
    width: 100%;
    padding: 0 10px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    border: grey 1px solid;
    border-radius: 5px;
    background: none;
    outline: none;
}

.center button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.center button:hover {
    border-color: #2691d9;
    transition: .5s;
}

.signup_link {
    margin-top: 20px;
    font-size: 15px;
    color: #666666;
}

.signup_link a {
    color: #2691d9;
}

.signup_link a:hover {
    text-decoration: underline;
}

.alert-danger {
    color: red;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
}