@import "requirements.css";

body {
    background-color: white;
}

.show-quiz-section {
    min-height: 90vh;
    width: 100%;
    display: flex;
    padding: 10px 5%;
}

.container-questions {
    width: 100%;
}

.container-questions hr {
    margin: 15px 0;
}

.container-questions .question-nbr {
    color: rgba(0,0,0,.92);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
}

.option-text {
    color: rgb(61, 61, 61);
    margin-left: 8px;
    font-size: 1rem;
}

.question-text {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: rgba(0,0,0,.92);
    text-transform: uppercase;
}

.container-options {
    margin: 15px 0 20px 0;
}

.container-options .option {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: rgba(0,0,0,.92);
}

.quiz-title {
    font-weight: 600;
    font-size: 1.8em;
    display: inline-block;
    border-radius: 4px;
    color: #555;
    text-shadow: 0px 1px 10px rgb(255 255 255 / 70%);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.quiz-btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: table-cell;
    font-size: 1rem;
    font-weight: 500;
    border-color: #1d262d;
    color: #1d262d;
    background-color: transparent;
    cursor: pointer;
}

.quiz-btn:hover {
    background-color: #014b8334;
}